.bg {
  background-attachment: fixed;
  background-image: url('../images/404.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .content {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 200px;
    max-width: 500px;
    padding-top:100px;
    text-align: center;
    width: 100%;

    .heading {
      font-size: 200px;
    }
  }
}
