@include block('contact') {
  padding-top: 10px;
  overflow: hidden;
  display: none;
  width: 700px;
  margin:0 auto;

  @include element('form') {
    background: url("../images/contactForm.png");
    height: 474px;
    width: 654px;
    margin: 2em auto;
    overflow: hidden;
    position: relative;
  }

  @include element('formHeader') {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: 60px;
    width: 450px;
  }

  @include element('headerImage') {
    display: inline-block;
    vertical-align: middle;

    @include modifier('magicCircle') {
      float:left;
      margin-top: 8px;
      width: 50px;
      opacity: .5;
    }
    @include modifier('equity') {
      float:right;
      margin-top: 15px;
      width: 60px;
      height: auto;
      opacity: .5;
    }
  }

  @include element('info') {
    display: inline-block;
    margin: 8px 0;
    vertical-align: middle;
  }

  @include element('text') {
    color: black;
    font-size: 85%;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: normal;
    margin: 5px;

    @include modifier('phoneNumber') {
      color: #BF9743;

      &:hover, 
      &:focus {
        color: #BF9743;
      }
    }
  }

  @include element('innerFormWrapper') {
    box-sizing: border-box;
    left: 0;
    margin:0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 140px;
    width: 85%;
  }

  @include element('labelInputWrapper') {
    box-sizing: border-box;
    display: inline-block;
    margin:0 auto;
    padding: 0 10px 10px;
    width: 250px;

    @include modifier('textareaWrapper') {
      width: 504px;
      padding-bottom:2px;
    }
  }

  @include element('inputField') {
    background:0;
    border: 0;
    border-bottom: 1px solid black;
    display: block;
    outline: 0;
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius:0;

    @include modifier('textarea') {
      min-height: 60px;
    }

  }

  @include element('label') {
    display: block;
    font-size: 80%;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
  }

  @include element('submitButton') {
    background: 0;
    border: 0;
    color: black;
    font-size: 150%;
    font-weight: bolder;
    text-transform: uppercase;
    transition: color .3s ease-in-out;

    &:hover, 
    &:focus {
      color: #BF9743;
      outline:0;
      border:0;
    }
  }
}


