div.overlay.js-overlay
  span.overlay__close.fa.fa-times.js-overlayClose
  div.overlay__infoWrapper
    p.overlay__text #[span.fa.fa-phone] Phone: #[a.overlay__link(href="tel:0778712666") +44 (0) 778712 666]
    p.overlay__text #[span.fa.fa-envelope] Email: #[a.overlay__link(href="mailto:contact@magicsingh.com") contact@magicsingh.com]
