div.container.no-padding
  ul.socialList
    li.socialList__item.socialList__item--twitter
      a.socialList__link(href="https://www.twitter.com/magicsingh")
        i.fa-icon.fa.fa-twitter

    
    li.socialList__item.socialList__item--insta
      a.socialList__link(href="https://www.instagram.com/magicsingh")
        i.fa-icon.fa.fa-instagram

    li.socialList__item.socialList__item--bookNow
      a.socialList__link(href="#contactForm" class="bookNow")
        img.socialList__bookNowImage(src="images/booknow_brown.png")

    li.socialList__item.socialList__item--facebook
      a.socialList__link(href="https://www.facebook.com/magicsingh")
        i.fa-icon.fa.fa-facebook

    li.socialList__item.socialList__item--youtube
      a.socialList__link(href="https://www.youtube.com/magicsingh")
        i.fa-icon.fa.fa-youtube-play