doctype html
html
  head
    meta(charset="utf-8")
    title ArshSoni.com
    link(rel="stylesheet", href="styles/sass/main.css", media="screen", charset="utf-8")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", media="screen")

  body
    div.container
      nav
        - var url = { name : "ArshSoni", cv : "https://drive.google.com/open?id=0B6c12LgYJ19mZDRRSGRnWS1HMUE"}
        each link_name in ['CV', 'GitHub', 'Twitter']
          if link_name == 'CV'
            a(href=url.cv, target="_blank")=link_name
          else
            a(href="https://www."+link_name+".com/"+url.name)=link_name

      div.profile
        section.wrapper
          header
            a(href="about")
              img(src="images/avatar.jpg")

            h1 Arshdeep Soni
            h2 Front End Web Developer at #[a(href="https://www.yell.com" target="_blank") Yell]

      div.content
        div.work.placement
          div.icon
            img(src="images/yell.png")
          div.details
            h1 Work
            p I am currently on my Placement Year with Yell, where I am focusing on developing Yell Articles.
            p Will be releasing soon...

        div.work.currentProjects
          div.icon
              img(src="images/www.png")
          div.details
            h1 Current Projects
            p.
              Alongside working at Yell, I am also currently freelancing.
            p.
              Here&apos;s some of my #[a(href="recentProjects")="Recent Projects"]

        div.work.coding
          div.icon
            img(src="images/coding.png")
          div.details
            h1 Coding
            p Some of the languages and tools I am experienced in:
            ul.codingSkillList
              li HTML, CSS, JavaScript/JQuery, SASS, Jade
              li Java (OOP), Swing/FX, Python, C, PHP, Bash Scripting
              li WordPress, MySQL, PostgreSQL
              li GIT, SVN, Trello

        div.work.uniDegree
          div.icon
            img(src="images/degree.png")
          div.details
            h1 University
            p Studying Computer Science at #[span(class="rhul")="Royal Holloway University"].
            | Finished Second Year with an average of 75&#37; (1#[sup="st"])


        div.work.freeTime
          div.icon
            img(src="images/free_time.png")
          div.details
            h1 Free Time
            p In my free time I usually focus on my two main hobbies which consists of:
            ul
              li Photography/Videography
              li Magic (Member of The Magic Circle) :D

        div.getInTouch2
          input#btn-state.hide(type='checkbox')
          .morph
            label.btn-morph-on(for='btn-state')  Contact
              span(class="fa fa-envelope")
            label.btn-morph-off(for='btn-state')
              span(class="fa fa-times")
            div.overlay
            .morph-content
              h1 Get In Touch
              form(method="post", class="contactForm", onsubmit="return validateForm();")
                input(type="text", name="name", id="name" placeholder="Name")
                input(type="text", name="email", id="email" placeholder="Email")
                input(type="text", name="phone", id="phone", maxlength="11", placeholder="Phone")

                textarea(name="message", placeholder="Message" id="message")
                input(type="submit", name="submit", id="submitBtn" value="Send")

      div.push

    footer
      p &copy; Copyright Arshdeep Soni 2016.

  script(type="text/javascript", src="js/main.js")
