include includes/mixins

doctype
html
	head
		+meta('Magic Singh', 'The Official Site of International Magician Magic Singh. Enter the World of Magic and Wonder...')
		+facebookMeta(
			'Magic Singh',
			'Home',
			'http://www.magicsingh.com',
			''
		)
		+twitterMeta(
			'Home',
			'http://www.magicsingh.com',
			''
		)
		+getStylesheets()

	body
		div.wrap.home.home--fullsizeImage
			header.header
				+getNavbar('Home')

			div.push

		footer
			include includes/footer

		include includes/form
		include includes/contactOverlay
	
		+addScript('https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		+addScript('plugins/magnific/jquery.magnific-popup.js')
		+addScript('scripts/main.js')
