html {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  background-color: black;
}


html, body {
  height: 100%;
}

.loading {
  background: black url('../images/spade.png');
  -webkit-transition: background-color 0;
  transition: background-color 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;

  /* Main Content Container */
  .wrap {
    margin: 0 auto -60px;
    min-height: 100%;
    position: relative;
    width: 100%;
  }

  .push, 
  .footer {
    height: 60px;
  }
}

.loading {
  body {
    opacity: 0;
    -webkit-transition: opacity 0;
    transition: opacity 0;
  }
}