/* Colours */
$color-white: #fff;
$color-black: #000;
$color-orange: orange;

$color-logoOrange: #da8120;
$color-dullGold: #BD9744;

$color-twitter: #1CB7EB;
$color-facebook: #4E71A8;
$color-youtube: #CA3737;
$color-instagram: #f09433;