include includes/mixins

doctype
html.loading
	head
		+meta('MS', 'woo')
		+getStylesheets()
		

	body
		//- +getAnimation()
		div.wrap.fullsize-bg-image
			+getNavbar()

			div.details
				div.container
					div.row
						div.col-xs-12
							a(class="navbar-brand" href="#")
								+getLogo()
						
					div.bookNowWrappermain
						a(href="#contactForm" class="bookNowmain")
							img(src="http://magicsingh.com/v1/wp-content/themes/abracadabra/images/Booknowbutton.png")
							
					//- div.row
					//- 	div.col-xs-8.col-xs-push-2.col-md-6.col-md-push-3
					//- 		div.row
					//- 			div.bookNowWrapper.col-xs-12.col-sm-6.col-sm-push-3
					//- 				a(href="#contactForm" class="bookNow")
					//- 					img(src="http://magicsingh.com/v1/wp-content/themes/abracadabra/images/Booknowbutton.png")
								//- div.contactWrapper.col-xs-12.col-sm-6
								//- 	a(href="tel:+447787122666" class="contact")
								//- 		img(src="http://magicsingh.com/v1/wp-content/themes/abracadabra/images/Magic_ContactByPhone.png")
		
			div.push

		footer
			+getFooter

		+getContactForm()

		+addScript('https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		+addScript('plugins/magnific/jquery.magnific-popup.js')
		script.
			$(document).ready(function() {
				
				$('.showreel').magnificPopup({
					type:'iframe', 

					callbacks: {
						open: function() {
							$('.showreel').addClass('active');

							$.magnificPopup.instance.close = function() {
								$.magnificPopup.proto.close.call(this);
								$('.showreel').removeClass('active');
							}
						}
					}, 

					mainClass:'mfp-fade',
					removalDelay: 300, 
					preloader: false, 
					fixedcontentPos: false, 
					enableEscapeKey: true

					
				});

				$('.bookNow').magnificPopup({
					callbacks: {
						open: function() {
							$('.contactForm').css('display', 'block');
						}
					}, 
					type: 'inline', 
					preloader: false, 
					modal: false,
					enableEscapeKey: true
				});

				$('.contact').magnificPopup({
					callbacks: {
						open: function() {
							$('.contactForm').css('display', 'block');
						}
					}, 
					type: 'inline', 
					preloader: false, 
					modal: false,
					enableEscapeKey: true
				});


				
			});