@include block('overlay') {
  position: fixed;
  background-color: rgba(black, .9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  visibility: hidden;
  opacity: 0;

  @include element('close') {
    position: absolute; 
    right:30px;
    top:40px;
    color: rgba(white, .7);
    transition: color .3s ease-in-out;

    &:before {
      font-size: 40px;
    }

    &:hover, 
    &:focus {
      color: rgba(white, 1);
    }
  }

  @include element('infoWrapper') {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px;
    width: 100%;
    left: 0;
    right: 0;
    margin:0 auto;
  }

  @include element('text') {
    max-width: 300px;
    margin: 0 auto 40px;
    color: white;
    font-size: 140%;
    text-align: center;
  }

  @include element('link') {
    color: #BF9743;
    display: block;
    text-align: center;

    &:hover, 
    &:focus {
      color: #BF9743;
    }
  }

  @include element('visible') {
    visibility: visible;
    opacity: 1;
  }
}